In [ ]:
import pandas as pd
data=pd.read_csv('amazon_jobs_dataset.csv')
data

# Questions
 1. total number of unique job roles
 2. find total unique job locations

 3. find total jobs in US
 4. Count the number of times word 'Amazon' occours in whole dataset
 5. How many jobs require 'Bachelor's Degree in Computer Science' in India
 6. total jobs with title as 'Software Development Manager'
 7. total jobs of 'Software Development Engineer' in Bangalore
 8. total jobs of Software Development Engineer in Test	requiring a Bachelor’s degree

 9. Add a column of Country, state and city according to job location

In [ ]:
# 1. total number of unique job roles
len(list(data['Title'].unique()))

In [ ]:
#2. find total unique job locations
country={}
for i in range(3493):
    if data['location'][i][0:2] not in country.keys():
        country[data['location'][i][0:2]]=1
    else:
        country[data['location'][i][0:2]]+=1
country

In [ ]:
#3. find total jobs in US
count=0
for i in range(3493):
    if data['location'][i][0:2]=='US':
        count+=1
count

In [ ]:
# 4.Count the number of times word 'Amazon' occours in the description of whole dataset
total=0
for i in range(3493):
    total+=str(data['DESCRIPTION'][i]).count('Amazon')
print(count)

In [ ]:
# 5. How many jobs require 'Bachelor's Degree in Computer Science' in India

total=0
for i in range(3493):
    if data['location'][i][0:2]=='IN' and "Bachelor's Degree in Computer Science" in str(data['BASIC QUALIFICATIONS'][i]):
        total+=1
total

In [ ]:
#6. total jobs with title as 'Software Development Manager'
list(data['Title']).count('Software Development Manager')

In [ ]:
#7. total jobs of 'Software Development Engineer' in Bangalore 
count=0
for i in range(3493):
    if data['Title'][i]=='Software Development Engineer' and 'Bangalore' in data['location'][i]:
        count+=1
count

In [ ]:
#8. total jobs of Software Development Engineer in Test	requiring a Bachelor’s degree
count=0
for i in range(3493):
    if data['Title'][i]=='Software Development Engineer in Test' and 'Bachelor’s degree' in data['BASIC QUALIFICATIONS'][i]:
        count+=1
count

In [ ]:
#9. Add a column of Country, state and city according to job location

data['country']=data['location']
data['state']=data['location']
data['city']=data['location']
for i in range(3493):
    data['country'][i]=str(data['location'][i])[0:2]
    data['state'][i]=str(data['location'][i])[4:6]
    data['city'][i]=str(data['location'][i])[8:-1]
data