In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def isNaN(n):
    return n!=n

In [ ]:
td=pd.read_csv('klapeye-global-terrorism.csv')
td

In [ ]:
#give the timeline of first  incident in the dataset
DATE={}

for i in range(27128):
    year=int(td['DATE'][i][0:4])
    month=int(td['DATE'][i][5:7])
    day=int(td['DATE'][i][8:10])
    if 'year' in DATE.keys() and year<=int(DATE['year']):
        DATE['year']=year
        if month<=int(DATE['month']):
            DATE['month']=month
            if day<int(DATE['day']):
                DATE['day']=day
    elif 'year' not in DATE.keys():
        DATE['year']=year
        DATE['month']=month
        DATE['day']=day

print(DATE)

# QUESTIONS


1. give the total number of countries involved in the dataset


2. name the terrorist organization which has took responsibility of most number of attacks

3. find the total no. of diff. regions countrywise in the dataset

4. find the country with the maximum number of terror attacks

5. find the country with lowest terrorist activity

6. sort the countries in order of terror activity (high to low)

7. find the region with the maximum number of terror attacks

8. find the region with the lowest number of terror attacks

9. sort the region in order of terror activity (low to high)


10. find total unique kind of terror attacks

11. find total no. of incidents of every type of terror attack.

12. find the terror attack with most number of deaths

13. find the terror attack with highest number of injuries

14. find the count of kinds of terror activities happened in Baghdad

15. find total no. of terror activities happened in Israel

16. PLOT THE DEATHS VS YEAR LINE GRAPH

In [ ]:
#name the terrorist organization which has took responsibility of most number of attacks


#methodology: create a dictonary for total no. of attcks, 
# step 2:convert to list
# step 3: find max of the list and index corrosponding to it
# step 4: find group corrosponding to hieghest attck

In [ ]:
# SOLUTION
uni_con={}
for i in td['PERPETRATOR']:
    
    if isNaN(i)==False and i not in uni_con.keys():
        uni_con[i]=1
    elif isNaN(i)==False:
        uni_con[i]+=1
group=list(uni_con.keys()) #convert keys into list
attacks=list(uni_con.values())#convert values into list

index=attacks.index(max(attacks))
group1=group[index]
print('#1 group in terrorist activity: ',group1)
print('total claimed terrorist activity: ',attacks[index])

In [ ]:
#find the total no. of diff. regions countrywise in the dataset

# methodology:
# step1: Prepare a dictionary with keys as unique countries and value as a list of unique regions in it
#step 2: to get the total unique countries print the list of keys 
# step 3: to get the total unique regions country wise prit the list of values



CWR={}
for i in range(27129):
    country=td['COUNTRY'][i]
    region=td['REGION'][i]
    if isNaN(country)==False and isNaN(region)==False:
        if country not in CWR:
            CWR[country]=[]
            CWR[country].append(str(region))

        elif region not in CWR[country]:
            CWR[country].append(str(region))

In [ ]:
#find the country with the maximum number of terror attacks
uni_con={}
for i in td['COUNTRY']:
    
    if isNaN(i)==False:
        if i not in uni_con.keys():
            uni_con[i]=1
        else:
            uni_con[i]+=1
group=list(uni_con.keys()) #convert keys into list
attacks=list(uni_con.values())#convert values into list

index=attacks.index(max(attacks))
group1=group[index]
print('#1 country in terrorist activity: ',group1)
print('total  terrorist activity: ',attacks[index])

In [ ]:
#find the country with the lowest number of terror attacks
uni_con={}
for i in td['COUNTRY']:
    
    if isNaN(i)==False:
        if i not in uni_con.keys():
            uni_con[i]=1
        else:
            uni_con[i]+=1
group=list(uni_con.keys()) #convert keys into list
attacks=list(uni_con.values())#convert values into list

index=attacks.index(min(attacks))
group1=group[index]
print('# -1 country in terrorist activity: ',group1)
print('total  terrorist activity: ',attacks[index])

In [ ]:
# sort the countries in order of terror activity (high to low)

#methodology:
#step1: get list of contries and corrosponding terror attacks
#step2: in a loop with range of length of the list, get the max value of attacks list
#step3: get the corrosponding index of max no. of attack
#step4: append the same index in new list and erase the index from the previous list

keys=list(uni_con.keys())
values=list(uni_con.values())
orderedkeys=[]
orderedvalues=[]

for i in range(len(keys)):
    index=values.index(max(values))
    orderedkeys.append(keys[index])
    orderedvalues.append(values[index])
    
    keys.pop(index)
    values.pop(index)
    
print(orderedkeys)
print(orderedvalues)

In [ ]:
#find the region with the maximum number of terror attacks
uni_con={}
for i in td['REGION']:
    
    if isNaN(i)==False:
        if i not in uni_con.keys():
            uni_con[i]=1
        else:
            uni_con[i]+=1
group=list(uni_con.keys()) #convert keys into list
attacks=list(uni_con.values())#convert values into list

index=attacks.index(max(attacks))
group1=group[index]
print('#1 region in terrorist activity: ',group1)
print('total  terrorist activity: ',attacks[index])

In [ ]:
#find the region with the lowest number of terror attacks
uni_con={}
for i in td['REGION']:
    
    if isNaN(i)==False:
        if i not in uni_con.keys():
            uni_con[i]=1
        else:
            uni_con[i]+=1
group=list(uni_con.keys()) #convert keys into list
attacks=list(uni_con.values())#convert values into list

index=attacks.index(min(attacks))
group1=group[index]
print('#-1 region in terrorist activity: ',group1)
print('total  terrorist activity: ',attacks[index])

In [ ]:
#sort the region in order of terror activity (low to high)

#methodology:
#step1: get list of contries and corrosponding terror attacks
#step2: in a loop with range of length of the list, get the max value of attacks list
#step3: get the corrosponding index of max no. of attack
#step4: append the same index in new list and erase the index from the previous list
uni_con={}
for i in td['REGION']:
    
    if isNaN(i)==False:
        if i not in uni_con.keys():
            uni_con[i]=1
        else:
            uni_con[i]+=1
            
keys=list(uni_con.keys())
values=list(uni_con.values())

orderedkeys=list()
orderedvalues=list()

for i in range(len(keys)):
    index=values.index(min(values))
    orderedkeys.append(keys[index])
    orderedvalues.append(values[index])
    
    keys.pop(index)
    values.pop(index)
    
print(orderedkeys)
print(orderedvalues)

In [ ]:
#total unique kind of terror attack

uni_con={}
for i in td['ATTACK TYPE']:
    
    if isNaN(i)==False and i not in uni_con.keys():
        uni_con[i]=1

print(len(uni_con.keys()))

In [ ]:
#total number of incidents of every terror attack

uni_con={}
for i in td['ATTACK TYPE']:
    
    if isNaN(i)==False and i not in uni_con.keys():
        uni_con[i]=1
    elif isNaN(i)==False:
        uni_con[i]+=1




group=list(uni_con.keys()) #convert keys into list
attacks=list(uni_con.values())#convert values into list

index=attacks.index(max(attacks))
group1=group[index]
print('#1 performed terror activity: ',group1)
print('total cases: ',attacks[index])
uni_con

In [ ]:
#find the details of terror attack with most number of deaths
mostd=0
for i in range(27129):
    death=td['DEAD'][i]
    if isNaN(death)==False and death>mostd:
        mostd=death
index=list(td['DEAD']).index(mostd)
td.loc[[index]]

In [ ]:
#find the details of terror attack with most number of injuries
mostd=0
for i in range(27129):
    death=td['INJURED'][i]
    if isNaN(death)==False and death>mostd:
        mostd=death
index=list(td['INJURED']).index(mostd)
td.loc[[index]]

In [ ]:
#find the count of kinds of terror activities happened in baghdad

uni_con={}
for i in range(27129):
    if td['REGION'][i]=='Baghdad':
        j=td['ATTACK TYPE'][i]
        if isNaN(j)==False and j not in uni_con.keys():
            uni_con[j]=1
        elif isNaN(j)==False:
            uni_con[j]+=1




group=list(uni_con.keys()) #convert keys into list
attacks=list(uni_con.values())#convert values into list

index=attacks.index(max(attacks))
group1=group[index]
print('#1 performed terror activity in Baghdad: ',group1)
print('total cases: ',attacks[index])
uni_con

In [ ]:
#find total no. of terror activities happened in Israel

count=0
for i in range(27129):
    if td['COUNTRY'][i]=='Israel':
        count+=1
count

In [ ]:
#PLOT THE DEATHS VS YEAR LINE GRAPH

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
y_deaths={}
for i in range(27129):
    year=td['DATE'][i][0:4]
    if isNaN(td['DEAD'][i])==False:
        if year not in y_deaths.keys():
            y_deaths[year]=int(td['DEAD'][i])
        else:
            y_deaths[year]+=td['DEAD'][i]
        
y_deaths

In [ ]:

plt.plot(y_deaths.keys(),y_deaths.values())
plt.title('Deaths per Year')
plt.xlabel('YEAR')
plt.ylabel('Deaths')
plt.grid(True)
plt.show()